<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <header>
        <div class="frame-frame38">
            <span class="frame-text100">
                <span>
                    <a class="header-menu" href="/my-page">MY PAGE</a>
                </span>
            </span>
            <span class="frame-text102">
                <span>
                    <a class="header-menu" href="/write">WRITE</a>
                </span>
            </span>
            <span class="frame-text104">
                <span>
                    <a class="header-menu" href="/login">LOGIN</a>
                </span>
            </span>
            <div class="frame-logo">
                <a href="../">
                    <img
                        alt="image3884"
                        src="../public/external/image3884-wir5-200h.png"
                        class="frame-image3"
                    />
                    <img
                        alt="image4885"
                        src="../public/external/image4885-5yf4-200h.png"
                        class="frame-image4"
                    />
                </a>
            </div>
        </div>
    </header>
</body>
</html>
