<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
</head>
<body>
    <h1>Search</h1>
    
    <form action="/search" method="get">
        <input type="text" name="keyword" placeholder="Search books..." />
        <select name="type">
            <option value="title">Title</option>
            <option value="author">Author</option>
        </select>
        <button type="submit">Search</button>
    </form>

    <ul>
        <li th:each="book : ${books}">
            <span th:text="${book.title}">Book Title</span> - 
            <span th:text="${book.author}">Book Author</span>
        </li>
    </ul>
    
    <a href="/">Back to Home</a>
</body>
</html>
